/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&family=Raleway:wght@300&display=swap');

/* vloeiend scrollen zie: https://www.w3schools.com/howto/howto_css_smooth_scroll.asp  */
html{
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    background-color: thistle;
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
}

.header {
    padding: 2em;
    margin: 0;
    text-align: center;
    font-size: 30px;
    color: whitesmoke;
    background-image: url('afb/Kerstmenu.jpg');
    background-position: center;
}
/* navigation*/

nav{
    background-color: darkslategray;
    position: sticky;
    top: 0;
}
nav ul{
    padding: 0%;
    margin: 0%;
    list-style-type: none;
    display: flex;
}
nav li{
    flex: 1 0 auto;
}
nav li + li{
    border-left: 2px solid wheat;
}
nav a{
    color: wheat;
    text-decoration: none;
    display: block;
    padding: 10px;
    text-align: center;
}
nav a:hover{
    background-color: black;
    color: white;
}
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}
.richtpunt {
    position: relative;
    top: -55px;
    visibility: hidden;
    border: 2px solid red;

}
section {
    background-color: white;
    padding-bottom: 20px;
    margin-bottom: 20px; 
}
section header {
    background-size: cover;
    background-position: center;
    padding: 30px;
}
#voor{
    background-image: url(../afb/bietentartaar.jpg);
}

#hoofd{
    background-image: url(../afb/pastinaak.jpg);
}
#bij{
    background-image: url(../afb/stoofpeertjes.jpg);
}
#na{
    background-image: url(../afb/tiramisu.jpg);
}
h1, h2, h4 {
    color: white;
    text-align: center; 
    text-shadow: 0 0 13px darkslategrey; 
    letter-spacing: 7px;
    font-family: 'Mukta', sans-serif;
}

h4 {
    font-variant: small-caps;
}
h6 {
    margin-bottom: -25px;
    font-size: 20px;
}

section ol {
    margin: 20px 60px;
}
section p, section h6 {
    padding: 0px 90px
}

/* de footer  */

footer {
    background-color: darkslategrey;
    color: floralwhite;
    text-align: center;
    padding: 20px;
}
footer a {
    color: floralwhite;
}

/* de validatie-icons  */
.validatie img {
    height: 1em;
    width: auto;
    border: 0;
    margin: 0 .3em;
}